body{
    font-family: 'Press Start 2P', cursive;
    padding: 50px;
    
}  

#pokemonLogo{
    text-align: center;
    margin-bottom: 40px;
        
}

#pokemonLogo img{
    max-width: 100%;
    height: auto;
}

#headContainer{
    text-align: center;
    background-color: red;
    color: white;
    border-radius: 10px;
    margin: 30px auto;
    padding-top: 20px;
    
}

#searchBtn{
    padding: 5px;
    border-radius: 10px;
    line-height: 1vw;
    padding: 15px;
    margin: 25px auto 10px;
}


#searchByType{
    background-color: red;
    color: white;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
}


#name{
    text-align: center;
    text-transform: capitalize;
    padding: 10px;
    margin: 20px;
    font-size: 2.5rem;
    
}

#pokePics{
    text-align: center;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    max-width: 40%;
    height: auto;
    
}

#bodyContainer{
    visibility: hidden;
    text-align: center;
    text-transform: capitalize;
    background-color: red;
    color: white;
    border-radius: 25px;
}

#sizeInfo{
    
    border-radius: 10px;
    padding: 10px;
}


#searchBar {
    padding: 10px;
    border-radius: 10px;
}

#error{
    text-align: center;
    visibility: hidden;
}



/* These are for the pokemon types */
.btn {
    color: white;
    border-radius: 25px;
    border: white 1px solid;
    text-transform: uppercase;
    text-align: justify;
    margin: 8px;
    box-shadow: 2px 2px 5px white;
}
.btn-fire{
    background-color: red;
}
.btn-rock{
    background-color: brown;
}
.btn-electric{
    background-color: yellow;
}
.btn-water{
    background-color: blue;
}
.btn-dragon{
    background-color: purple;
}
.btn-poison{
    background-color: rebeccapurple;
}
.btn-fairy{
    background-color: pink;
}
.btn-grass{
    background-color: green;
}
.btn-steel{
    background-color: gray;
}
.btn-dark{
    background-color: darkslategrey;
}
.btn-ghost{
    background-color: palevioletred;
}
.btn-ice{
    background-color: cyan;
}
.btn-flying{
    background-color: powderblue;
}
.btn-fighting{
    background-color: burlywood;
}
.btn-normal{
    background-color: silver;
}
.btn-ground{
    background-color: beige;
}
.btn-psychic{
    background-color: plum;
}
.btn-bug{
    background-color: lightgreen;
}