body{
    font-family: 'Press Start 2P', cursive;
    padding: 50px;
}  

#pokemonLogo{
    text-align: center;
    margin-bottom: 40px;
        
}

#name{
    text-align: center;
    text-transform: capitalize;
    padding: 10px;
    margin: 20px;
    font-size: 2.5rem;
    /* border: white 2px dashed;
    border-radius: 10px; */
}

#pokePics{
    text-align: center;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    max-width: 50%;
    height: auto;
    
}

#bodyContainer{
    visibility: hidden;
    text-align: center;
    text-transform: capitalize;
    background-color: red;
    color: white;
    border-radius: 25px;
}

#sizeInfo{
    border: white 2px dashed;
    border-radius: 10px;
    padding: 10px;
}

#moves{
    border: white 2px dashed;
    border-radius: 10px;
    padding: 10px;
}

#searchBar {
    padding: 20px;
}

#error{
    text-align: center;
    visibility: hidden;
}


